################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GcdApi/bin
/GcdApi/obj
/GcdApi/Properties/PublishProfiles
/packages
/.vs
